form .textbox {
    padding: 2px 4px;
    font-size: 110%;
}


form .textbox-required {
    border-width: 2px;
}

form .textbox-optional {
}



form .textbox-readonly {
    color: #666;
    background: #f0f0f0;
}


form button,
form .button {
}