#form {
    margin-bottom: 20px;
    width: 100%;
}

#form input.textbox-username {
    padding: 5px 5px;
    display: block;
    width: 20%;
    font-size: 150%;
    font-family: monospace;
}

#form input.textbox-line {
    padding: 5px 5px;
    display: block;
    width: 98%;
    font-size: 150%;
    font-family: monospace;
}

#form input.textbox-comment {
    padding: 5px 5px;
    display: block;
    width: 98%;
    font-size: 150%;
    font-family: monospace;
}


#form table {
    border: 1px solid #ababab;
    border: 1px solid #e0e0e0;
}
#form table th,
#form table td {
    border: none;
    background: none;
}


#form table tbody th {
    width: 10%;
    text-align: right;
}

#form table tbody td {
    padding-bottom: 0;
}

#form table tbody tr.buttons {
}
#form table tbody tr.buttons td {
    padding: 5px;
    text-align: center;
}




#lines {
    margin-bottom: 20px;
}


#lines table .line {
}

#lines table .user {
    width: 24px;
    text-align: center;
}

#lines table .user .icon {
    width: 24px;
    height: 24px;
    background: #fff;
}
#lines table .user .icon img {
}


#lines table .link {
    width: 3em;
}

